.custom {
    height: 100vh;
}

p {
    color: var(--LightGrey);
}

.custom-border {
    color: hsl(216, 12%, 8%);
}

.card {
    border-radius: 2em;
}

.btn-rating {
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 20%, 22%);
    width: 50px;
    height: 50px;
}


.letter-spacing-2 {
    letter-spacing: 0.2em;
}

.btn-rating:hover {
    background-color: hsl(25, 97%, 53%) !important;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-rating:focus {
    background-color: white !important;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: white !important;
    color: hsl(25, 97%, 53%) !important;
    cursor: pointer;
    transition: 0.3s;
}

.d-none {
    display: none;
    /* or visibility: hidden; depending on your design */
}